* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  background-image: url(../images/back.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: rgb(214, 203, 203, 0.5);
}

#imgH1 {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgH1 img:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(360deg);
}

#titulo {
  display: flex;
  gap: 0.8rem;
  transition: all 0.3s ease-in-out;
}

#titulo:hover {
  transform: scale(1.1);
}
#titulo h1:first-child {
  color: rgb(189, 75, 23);
}

#titulo h1:nth-child(2) {
  color: rgb(11, 11, 138);
}

header img {
  height: 5rem;
}

header .material-symbols-outlined {
  font-size: 2rem;
  cursor: pointer;
}
#iconEntrar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(189, 75, 23);
}

#totalIcon {
  font-size: 18px;
}

#entre {
  font-size: 18px;
  font-weight: 700;
  width: 170px;
  text-decoration: underline;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
  gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100rem;
 
  max-width: 100rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(236, 124, 73, 0.3);
  color: rgb(4, 4, 100);
  transition: all 0.3s ease-in-out;
  width: 250px;
}

.item img {
  height: 200px;
  width: 200px;
}

.item:hover {
  transform: scale(1.1);
}

.nome-produto {
  font-weight: 500;
}

.price {
  font-size: 1.1rem;
  font-weight: 500;
}
.price-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.price-button button {
  width: 6rem;
  height: 2rem;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: rgb(189, 75, 23);
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.price-button button:hover {
  background-color: rgb(122, 49, 15);
}

.carrinho {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  padding: 1rem;
  background-color: rgba(236, 124, 73, 0.3);
  color: rgb(4, 4, 100);
}

.itens span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

#lista-produtos {
  margin-top: 1rem;
  background-color: rgb(214, 203, 203, 0.5);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.botaoIconesAumentar button,
.botaoIconesDel button,
.botaoIconesDiminuir button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1rem;
  width: 1rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  color: rgb(122, 49, 15);
}

.itens,
.spans {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#total {
  margin-bottom: 1rem;
}

#product,
#amount,
#priceU,
#priceT {
  width: 5rem;
  font-weight: 500;
}

#botao-comprar {
  height: 2rem;
  width: 9rem;
  border: none;
  border-radius: 15px;
  background-color: rgb(189, 75, 23);
  color: white;
  font-size: 1rem;
}

#botao-comprar:hover {
  background-color: rgb(122, 49, 15);
}

#botao-comprar {
  font-size: 1rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#botao-comprar:hover {
  transform: scale(1.1);
}

#compra-finalizada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
  transition-duration: 0.3s;
}


#compra-finalizada p {
  color: white;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 10rem;
  border-radius: 20px;
  background-color: rgb(100, 91, 91);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: rgb(214, 203, 203, 0.5);
}

@media (min-width: 280px) and (max-width: 500px) {

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 18px;
    background-color: white;
  }

  #imgH1 {
    gap: 0.3rem;
  }
  header img {
    height: 3rem;
  }
  #titulo {
    gap: 0.2rem;
    font-size: 0.5rem;
  }

  header .material-symbols-outlined {
    font-size: 1.5rem;
    cursor: pointer;
  }

  #entre {
    font-size: 1rem;
  }

  #totalIcon {
    font-size: 0.8rem;
  }

  #mac {
    margin-top: 5rem;
  }
  .item img {
    height: 8rem;
    width: 8rem;
  }

  .nome-produto,
  .price {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .price-button button {
    width: 4rem;
    font-size: 0.8rem;
  }

  .carrinho {
    display: none !important;
  }

  .principal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #botaoTelaPequena {
    width: 10rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: white;
    color: rgb(189, 75, 23);
    font-size: 0.6rem;
    font-weight: 700;
    display: inline !important;
  }

  #compra-finalizada p {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    border-radius: 20px;
    background-color: rgb(100, 91, 91);
  }

  footer {
    font-size: 0.8rem;
  }
}

@media (min-width: 501px) and (max-width: 750px) {

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 18px;
    background-color: white;
  }

  #imgH1 {
    gap: 1rem;
  }
  header img {
    height: 4rem;
  }
  #titulo {
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  header .material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
  }

  #entre {
    font-size: 1.2rem;
    width: 180px;
  }

  #totalIcon {
    font-size: 1rem;
  }

  #mac {
    margin-top: 8rem;
  }

  .item img {
    height: 8rem;
    width: 8rem;
  }

  .nome-produto,
  .price {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .price-button button {
    width: 4rem;
    font-size: 0.8rem;
  }

  .carrinho {
    display: none !important;
  }

  .principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #botaoTelaPequena {
    width: 9rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: white;
    color: rgb(189, 75, 23);
    font-size: 1rem;
    font-weight: 700;
    display: inline !important;
  }

  #compra-finalizada p {
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 8rem;
    border-radius: 20px;
    background-color: rgb(100, 91, 91);
  }

  footer {
    font-size: 1rem;
  }
}


@media (min-width: 751px) and (max-width: 1000px) {

  #imgH1 {
    gap: 1rem;
  }
  header img {
    height: 4rem;
  }
  #titulo {
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  header .material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
  }

  #entre {
    font-size: 1.2rem;
    width: 180px;
  }

  #totalIcon {
    font-size: 1rem;
  }

  .item img {
    height: 8rem;
    width: 8rem;
  }

  .nome-produto,
  .price {
    font-size: 1rem;
    font-weight: 700;
  }

  .price-button button {
    width: 6rem;
    font-size: 1rem;
  }

  .itens {
    width: 18rem;
  }

  .itens span {
    font-size: 0.8rem;
  }
  .principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #compra-finalizada p {
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 8rem;
    border-radius: 20px;
    background-color: rgb(100, 91, 91);
  }

  footer {
    font-size: 1rem;
  }
}
