* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../images/back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.3rem;
    background-color: rgb(214, 203, 203, 0.8)
}

#imgH1 {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    display: flex;
    gap: 1rem;
}

#titulo h1:first-child {
    color: rgb(189, 75, 23);
}

#titulo h1:nth-child(2){
    color: rgb(11, 11, 138)
}
header img {
    height: 5rem;
}

header .material-symbols-outlined {
    font-size: 50px;
    cursor: pointer;

}
#iconEntrar {
    display: flex;
    align-items: center;
    color: rgb(189, 75, 23);
}

#entre {
    font-size: 18px;
    font-weight: 700;
    width: 180px;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.principal {
    display: flex;
    margin-top: 3rem;
    margin-left: 2rem;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 70%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color:rgba(236, 124, 73, 0.8)
}

.nome-produto {
    font-weight: 500;
}
.price-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price {
    font-size: 1.1rem;
    font-weight: 500;
}
.price-button button{
    width: 6rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgb(189, 75, 23);
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.price-button button:hover {
    background-color: rgb(180, 92, 50);
}

.carrinho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
    padding: 1rem;
    
    background-color: rgba(236, 124, 73, 0.5)
}

#lista-produtos span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
}

#lista-produtos {
    margin-top: 1rem;
    background-color: rgb(214, 203, 203, 0.5);
    border-radius: 10px;
    margin-bottom: 1rem;
}
  
.botaoIconesAumentar button, .botaoIconesDel button, .botaoIconesDiminuir button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1rem;
    width: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
    background-color: transparent;
  }

  .itens, .spans {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #total {
    margin-bottom: 1rem;
  }

  #botao-comprar {
    height: 2rem;
    width: 9rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(189, 75, 23);
    color: white;
    font-size: 1rem;
  }

  #botao-comprar:hover {
    background-color: rgb(180, 92, 50);
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgb(214, 203, 203, 0.8);

}